{% extends 'base.html' %}
{% set active_page = "" %}
{% set admin = admin %}

{% block title %}Agrega receta{% endblock %}

{% block content %}
    <section class="py-5" style="--bs-primary: rgb(255,173,5);--bs-primary-rgb: 255,173,5;--bs-secondary: rgb(91,140,23);--bs-secondary-rgb: 91,140,23;--bs-light: #f5f6f8;--bs-light-rgb: 245,246,248;--bs-dark: rgb(116,117,114);--bs-dark-rgb: 116,117,114;--bs-body-color: rgb(33,2,3);--bs-body-bg: #fff;background: var(--bs-light);">
        <h1 style="text-align: center;font-family: Amaranth, sans-serif;">Agrega la receta</h1>
        <div class="container py-5">
            <div class="card">
                <div class="card-body text-center d-flex flex-column align-items-center align-items-xl-center" style="padding-top: 30px;">
                    <form class="d-xl-flex justify-content-xl-center" method="post">
                        <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Nombre" style="margin-bottom: 30px;font-family: 'Be Vietnam Pro', sans-serif;"><textarea class="form-control" placeholder="Descripción" style="margin-bottom: 30px;"></textarea><input class="form-control" type="number" style="margin-bottom: 20px;" placeholder="Precio"><button class="btn btn-primary shadow d-block w-100" type="submit" style="background: var(--bs-secondary);border-style: none;font-family: 'Be Vietnam Pro', sans-serif;">Añadir receta</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}